body {
    text-align: center;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1 {
    font-size: 60px;
    font-family: fantasy;
    color: white;
    text-shadow: 5px 5px darkblue;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.logo {
    width: 300px;
    height: auto;
    margin-right: 100px;
}

.image {
    width: 600px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10px;
}

.options {
    font-size: 20px;
    padding: 12px;
    border: 3px solid white;
    width: 600px;
    margin: 1px;
    border-radius: 10px;
    color: white;
    background-color: rgb(12, 29, 184);
    padding: 20px;
}

.options:hover {
    cursor: pointer;
    font-size: 26px;
    transition: 1s;
}

.correct {
    background-color: rgb(22, 187, 22);
}

.wrong {
    background-color: red;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.modal {
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: turquoise;
    color: darkblue;
    visibility: hidden;
    z-index: 1000;
    border: 5px solid darkblue;
    border-radius: 10px;
}

.restart {
    padding: 12px;
    background-color: lightblue;
    border: 2px solid darkblue;
    border-radius: 5px;
}

.restart:hover {
    cursor: pointer;
}

span {
    font-size: 30px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}